<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>343279306888-qvrsojmvgsi3gpcshif5ms5all4p6r4e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.343279306888-qvrsojmvgsi3gpcshif5ms5all4p6r4e</string>
	<key>API_KEY</key>
	<string>AIzaSyBJlN9I5FLUcHLsVDYUj8hrvtVhWt14B10</string>
	<key>GCM_SENDER_ID</key>
	<string>343279306888</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Aayush-Dubey.W</string>
	<key>PROJECT_ID</key>
	<string>mathiitteams</string>
	<key>STORAGE_BUCKET</key>
	<string>mathiitteams.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:343279306888:ios:f9db64b4771e1643b0773d</string>
</dict>
</plist>